div.gallery {
    position: inline;
    width: 420px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.hero-image{
    grid-area: hero-image;
    background-image: url("../../assets/images/aabackground.png");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 630px;
      width: auto;
      background-position:center -130px;
      background-attachment: fixed;
    padding-bottom:20px;
    }

    @media only screen and (max-width:550px) {
        .hero-image{
            grid-area: hero-image;
            background-image: url("../../assets/images/aabackground.png");
              background-repeat: no-repeat;
              background-size: 110%;
              height: 200px;
              width: auto;
              background-position:center 20px;
              background-attachment: fixed;
            padding-bottom:20px;
            }

            div.gallery {
                display: flex;
                flex-direction: column;
                position: inline;
                width: 100vw;
                justify-content: center;
            }
    }