.container {
    display:grid;
    height: scroll;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
      grid-template-areas:
      "nav nav"
      "hero hero"
      "header header"
      "content content"
      "footer footer";
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;
    background-color:  rgb(196, 196, 196);
    align-items: center;
    margin-top: 0px;
    height: auto;
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 30px;
}


@media only screen and (max-width:550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "nav"
      "hero"
      "header"
      "content"
      "footer";
    }


    .content {
        grid-area: content;
        display: flex;
        justify-content: center;
        background-color:  rgb(196, 196, 196);
        align-items: center;
        margin-top: 0px;
        height: auto;
        font-size: 18px;
        line-height: 1.2;
        background-attachment: scroll;
        text-align: center;
    }
}

    