.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav"
                         "content content" 
                         "footer footer";
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
  .content {
    grid-area: content;
    background: url("../../assets/images/batman.jpg");
    height: 800px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
  
  h3 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    /* height: 96.3%; */
    height: 600px;
}



 h3::before {
    content: '';
    position: absolute;
    background-attachment: scroll;
    top: 140px;
    bottom: 0;
    left: 10%;
    right: 0;
    /* background-color: cornsilk; */
    opacity: 0.7;
    width: 80%;
    background-color: #ffff;
    border: 2px solid rgba (30, 85, 250, 0.47);
    overflow: hidden;
}
  
  div.pheader {
    top: 32%;
    right: 26.5%;
    display: block;
    color: black;
    font-size: 34px;
    position: absolute;
    text-decoration: underline;
    font-weight: bold;
    text-align:center;
  }
  
  div.price {
    top: 81.5%;
    right: 40%;
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-align: left;
  }
  
  /* top description   */
  
  div.pDescription {
    top: 46%;
    right: 28.5%;
    display: block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-align: left;
  }
   
  div.pDescription2 {
    top: 71%;
    right: 24.5%;
    display: block;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-align: left;
  }
  
  .cartButton {
    background-color: #4d2ca7;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    left: 100%;
    top: 10%;
    position: absolute;
    width: 120px;
  }
  
  .numForm {
    width: 80px;
    top: 35%;
    right: 80%;
    position: absolute;
  }
  
  .checkOutFormRetainer {
    top: 83%;
    right: 31%;
    position: absolute;
    width: 150px;
    height: 50px;
  }
  

  

  
  
  @media (max-width: 1200px) {
    /* h3 {
      height: 500px;
      width: 90%;
      top: 140px;
      left: 5%;
      background-color: white;
      position: absolute;
      opacity: 0.7;
      cursor: default;
      background-attachment: scroll;
      overflow: hidden;
    } */

    h3 {
      position: relative;
      display: flex;
      justify-content: flex-start;
      /* align-items: center; */
      /* height: 96.3%; */
      height: 700px;
  }
  
  
  
   h3::before {
      content: '';
      position: absolute;
      background-attachment: scroll;
      top: 100px;
      bottom: 0px;
      left: 18px;
      right: 0;
      /* background-color: cornsilk; */
      opacity: 0.7;
      width: 90%;
      background-color: #ffff;
      border: 2px solid rgba (30, 85, 250, 0.47);
      overflow: hidden;
  }
  
    div.pheader {
      top: 20%;
      right: 24%;
      display: block;
      color: black;
      font-size: 34px;
      position: absolute;
      text-decoration: underline;
      font-weight: bold;
    } 
    div.price {
      top: 80.5%;
      left: 44%;
      display: block;
      color: black;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      text-align: left;
    }
    /* top description   */
    div.pDescription {
      top: 62%;
      right: 34%;
      display: block;
      color: black;
      font-size: 19px;
      font-weight: bold;
      position: absolute;
      text-align: left;
      float: left;
    }
    div.pDescription2 {
      top: 56%;
      right: 24%;
      display: none;
      color: black;
      font-size: 15px;
      position: absolute;
      text-align: left;
    }
    .cartButton {
      background-color: #4d2ca7;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 2px 2px;
      cursor: pointer;
    }
    .cartButton {
      width: 120px;
      top: 50%;
      left: 52%;
      position: absolute;
    }
    .numForm {
      width: 70px;
      top: 30%;
      left: 42%;
      position: absolute;
    }
   
    .checkOutFormRetainer {
      display: flex;
      top: 78%;
      right: 42%;
      position: absolute;
      width: 200px;
      height: 180px;
    }
  }